# Ambiente da aplicação: development | production | test
NODE_ENV=development

# Porta do servidor Express
PORT=3000

# URI de conexão com o MongoDB
# Formato local: mongodb://localhost:27017/blogging_platform
# Formato Docker: mongodb://mongo:27017/blogging_platform
MONGODB_URI=mongodb://localhost:27017/blogging_platform
